// VARIABLES

$content-width: 774px;
$color-text-base: #594569;
$color-geoloc: #08BC88;
$margin-small: 10px;

// FONTS

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900);
@import url(http://fonts.googleapis.com/css?family=Lobster);

// MIXINS

@mixin transition($what: all 500ms ease-out) {
    -webkit-transition: $what;
    -moz-transition: $what;
    -ms-transition: $what;
    -o-transition: $what;
    transition: $what;
}

// STYLE

html, body {
    margin: 0px;
    padding: 0px;
    background: whitesmoke;
    font-family: "Lato";
    font-weight: 100;
    font-size: 1.3em;
    color: $color-text-base;
}

strong {
    font-weight: 400;
}

a {
    &:link, &:visited {
        @include transition();
        color: $color-geoloc;
        text-decoration: none;
        font-weight: 400;
    }
    &:hover {
        color: lighten($color-geoloc, 5%);
    }
}

.geolockickstartr {
    @extend strong;
    font-family: Lobster;
}

.block {
    display: block;
}

.container {
    width: 100%;
    max-width: $content-width;
    margin: 0px auto;
}

.soon {
    font-size: 1.8em;
    font-family: "Lobster";
    text-align: center;
    color: $color-geoloc;
}

.head {
    background: transparent url('../images/logo-head.png') no-repeat center bottom;
    background-size: cover;
    width: 100%;
}

.tail {
    background: transparent url('../images/logo-tail.png') no-repeat center top;
    background-size: cover;
    width: 100%;
}

.bottom {
    width: 100%;
    height: 2px;
    background: $color-geoloc;
    margin-bottom: $margin-small;
}

@media (max-width: $content-width) {
    p {
        margin-left: 10px;
        margin-right: 10px;
    }
}